DATABASE_URL="postgresql://user:password@localhost:5432/devspace"
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=3333
NODE_ENV="development"